<h1 class="page-title">このサイトについて</h1>
<p class="page-p">匿名でみんなに質問できるサイトです。</p>
<ul class="page-ul">
  <li class="page-li">会員登録なし</li>
  <!--<li class="page-li">質問は1日に6つまで(日本時間21時にリセット)</li>
  <li class="page-li">質問とそのコメントは48時間後に削除される</li>-->
</ul>
<h2 class="page-subttl">質問例</h2>
<ul class="page-ul">
  <li class="page-li">ゴールデンウィークに密にならないおすすめスポットを教えて下さい！</li>
  <li class="page-li">誰が言ってもスベらない一発ギャグは？</li>
  <li class="page-li">敏感肌におすすめの日焼け止めありますか？できるだけ安いものがいいです<li>
</ul>
